*{
    margin: 0;
    padding: 0px;
    font-family: 'Inter', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

body {
    min-width: 320px;
}

/* Background*/

.manha {
    height: 100vh;
    background-color: rgb(87, 117, 117);

    display: flex;
    justify-content: center;
    background: url(./imagens/manha.jpg) no-repeat;
    background-size:cover ;
    background-position: center center;
}

.tarde {
    height: 100vh;
    background-color: rgb(87, 117, 117);

    display: flex;
    justify-content: center;
    background: url(./imagens/tarde.jpg) no-repeat;
    background-size:cover ;
    background-position: center right;
}


.noite {
    height: 100vh;
    background-color: rgb(87, 117, 117);

    display: flex;
    justify-content: center;
    background: url(./imagens/noite.jpg) no-repeat;
    background-size:cover ;
    background-position: center center;
}




.conteiner {
    height: 100vh;
    background-color: rgb(87, 117, 117);

    display: flex;
    justify-content: center;

}

.conteiner-relogio {
    border-radius: 25px;
    margin-top: 20px;
    opacity: 0.8;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    height: 305px;
    background-color: rgb(255, 255, 255);
}

.descricao {

    width: 300px;
    height: 101px;

}

#titulo {
    text-align: center;
    padding: 5px;

    height: 35px;
}

#mensagem {
    margin-top: 15px;
    text-align: center;
}


#relogio {
    align-items: center;
    justify-content: center;
    width: 301px;
    height: 151px;
    font-size: 22px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
